html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.main-text h1 span {
    display: block;
    text-align: center;
}

.main-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/main.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 340%;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    word-spacing: 3px;
    letter-spacing: 1.2px;
}

h2 {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1.2px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #f39c12;
    content: " ";
    margin: 0px auto;
    width: 100px;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

.features .long-copy {
    margin-bottom: 20px;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px 30px;
    font-weight: 300;
    color: white;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #f39c12;
    border-radius: 200px;
    color: white;
    border: 1px solid #f39c12;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f39c12;
    color: #f39c12;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #fcaa2f;
}

.btn-ghost:hover,
.btn-ghost:link:active {
    color: white;
}

.btn:hover,
input[type=submit]:hover {
    background-color: #fcaa2f;
}

.logo {
    float: left;
    margin-top: 20px;
}
.logo-black {
    float: left;
    margin: 5px 0;
    display: none;
    height: 50px;

}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

/* sticky nav */

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 2px rgb(177, 174, 174);
     
}
.sticky .main-nav {
    margin-bottom: 0px;
    margin-top: 30px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: black;
    
}
.sticky .logo-black {
    display: block;
}
.sticky .logo {
    display: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    font-size: 90%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fcaa2f;
}

section {
    padding: 80px 0;
    clear: both;
}

.box {
    padding: .6%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 300%;
    display: block;
    color: #fcaa2f;
    margin-bottom: 15px;
}

.meals-showcase {
    width: 100%;
    list-style: none;
    padding: 0;
}

.meals-section {
    padding: 0;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 33.3333%;
}

.dish {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.dish img {
    opacity: 0.7;
    width: 100%;
    height: 325px;
    transform: scale(1.15);
    transition: opacity .5s transform .5s;
}

.dish img:hover {
    transform: scale(1.05);
    opacity: 1;
}


/* How it works section */

.section-steps {
    background-size: cover;
    background-color: rgba(221, 220, 230, 0.164);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    max-width: 41%;
    margin-top: 20px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 110%;
}

.btn-app img {
    height: 140px;
    width: auto;
    margin-right: 10px;
    padding: 0px;
    margin-left: 150px;
    margin-top: -45px;
}

.steps {
    margin-bottom: 50px;
}

.steps:last-of-type {
    margin-bottom: 80px;
}

.steps div {
    color: #f39c12;
    border: 2px solid #f39c12;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    text-align: center;
    padding: 10px;
    float: left;
    font-size: 170%;
    margin-right: 20px;
}


/* Cities Section */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #f39c12;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}


/* Testimonails section */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/background.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 45px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    width: auto;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -15px;
    left: -3;
}


/* Pricing plan boxes */

.section-plans {
    background-color: rgba(221, 220, 230, 0.164);
    background-size: cover;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(226, 219, 219);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(156, 153, 153);
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: rgba(253, 249, 249, 0.788);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    color: #f39c12;
    font-weight: 100;
    margin-top: 0px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.price-per-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ul span {
    margin-left: 40px;
}


/* Contact Form  */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/* FOOTER */

footer {
    background-color: rgb(46, 43, 43);
}

.foot-nav {
    list-style: none;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #f39c12;
    text-decoration: none;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
}

footer p {
    font-size: 70%;
    color: white;
    display: inline-block;
    margin-left: 10%;
}

footer {
    height: 100%;
}

.end {
    padding-bottom: 0;
    padding-top: 100px;
}


/* media queries */
/* big tablets to small laptops */
@media only screen and (max-width: 1200px) {
    .main-text {
        width: 100%;
        padding: 0 2%;
        margin-left: 25px;
    }
    .main-text h1 span {
        display: inline-block;
    }
    .row {
        padding: 0 2%;
    }
    
    }
    @media only screen and (max-width: 880px) {
       .main-text h1 span {
           display: none;
       }
        }
/* small tablets to large tablets */

@media only screen and (max-width: 1023px) {
body {
    font-size: 14px;
}
section {
    padding: 50px 0;
}
.long-copy {
    width: 80%;
    margin-left: 10%;
}
.app-screen {
    width: 130%;

}
.btn-app img {
    height: 100px;
    width: auto;
    margin-right: 0px;
    margin-top: -45px;
    padding: 0;
}
.dish img {
    width: 100%;
    height: 240px;
}
}
/* Small phones to small tablets */

@media only screen and (max-width: 767px) {
    .dish img {
        width: 100%;
        height: 180px;
    }
}
/* Small phones */

@media only screen and (max-width: 480px) {
    .long-copy {
        width: 100%;
        margin: 0;
       
    }
    .app-screen {
        width: 230%;
    
    }
    .dish img {
        width: 100%;
        height: 150px;
    }
    .contact-form {
        width: 90%;
        margin-right: 5%;
    }
    .social-links  {
        float: left;
        margin-left: 15%;
    }
    .footer-nav {
       clear: both;
       margin-left: 12%;
    }

footer p {
    font-size: 60%;
  
 display:inline-block;
}
.main-nav {
    display: none;
}


}